html, body {
  outline: 3px solid tomato; /* 暫時觀察用 */
  background-color: #3a4941;
  text-decoration: none;  /* 沒有底線 */
}
header {
  color: #ffffff;
  background-color: rgb(37, 61, 53);
} 
form {
  display: inline;
}   
h1 {
  margin: 0;
  padding: 20px 0;
  color: #ffffff;
}
h2 {
  font-size: 15px;
  margin: 0;
  padding: 20px 0;
  color: #ffffff;
}
nav {
   height: 30px;
  text-align: right;  /* 內容置中 */
  margin-bottom: 0;  /* 下方邊距 */
  padding: 0 0;
  color: #ffffff;
  background-color: rgb(64, 106, 107);
}
.navmenu {
   margin-bottom: 0;  /* 下方邊距 */
   padding-top: 4px;
   height: 100%;
}
.navli {
   display: inline-block;
   height: 100%;
   border-left: 1px solid #d6d6d6;
   border-collapse:collapse;
}

.navlink {
   text-decoration: none;  /* 沒有底線 */
}
.flow {
  width:100%;
  height:150px;
}
a:link { 
  color: rgb(255, 255, 255);
  text-decoration: none;  /* 沒有底線 */
}
a:hover { 
   color: #ff6600;
 }
a:visited { 
  color: rgb(255, 255, 255); 
}
main {
  display: flex;
  font-size: 15px;
  color: #ffffff;
  outline: 3px solid rgb(71, 187, 255);  /* 暫時觀察用 */
  max-width: 1000px;    /* 限制最大寬度 */
  margin: 0 auto;      /* 容器水平置中 */
  padding: 40px 20px;  /* 留白 */
} 
.tab {
   width: 100%;
}
.table{
  outline: 3px solid tomato;  /* 暫時觀察用 */   
  border:0 antiquewhite;
  border-collapse:collapse;
  border-radius: 30px;
  width: 100%;
}
td { 
   height: 50px; 
} 
tr {
   border-bottom: solid 1px #3a4941;
   ;
}
th {
background-color: rgb(72, 172, 160);
 }

.table tbody tr:nth-child(odd){
   background-color: #6d807a63;
 }
 .table tbody tr:nth-child(even){
   background-color: #6d807aa6;
 }
th,td {
  border:0px solid antiquewhite;
  border-collapse:collapse;
}
.name, .publisher {
   width: 30%;
}
.publisher {
   text-align: center; 
}
.butt {
  color: #ffffff;
  outline: 3px solid tomato;  /* 暫時觀察用 */
  display: flex;
  justify-content: space-around;  /* 水平分散 */
  background-color: rgb(37, 56, 49);
} 
.social-media {
   padding-top: 16px;
}
.social-media-link {
   text-decoration: none;  /* 沒有底線 */
   margin: 0 5px;
}
.social-media-link:hover {  /* 滑鼠移過時啟用這組設定 */
   color: #ff6600;
 }

.aboutus,contact {
  outline: 3px solid tomato;  /* 暫時觀察用 */
} 
